[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/Lee-W/pelican-plugins
[submodule "theme/elegant"]
	path = theme/elegant
	url = https://github.com/Lee-W/elegant
[submodule "theme/attila"]
	path = theme/attila
	url = https://github.com/Lee-W/attila
