[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typogrify = "*"
Markdown = "*"
bs4 = "*"
pelican = "*"
python-gettext = "*"
mdx-del-ins = {editable = true,git = "https://github.com/Lee-W/mdx_del_ins"}
webassets = "*"
cssmin = "*"
ghp-import = "*"

[dev-packages]
pylint = "*"
pre-commit-hooks = "*"
invoke = "*"

[requires]
python_version = "3.7"
