[tool.poetry]
name = "wei-lee.me"
version = "0.1.0"
description = "Wei Lee's personal blog"
authors = ["Wei Lee <weilee.rx@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.10"
pelican = {extras = ["markdown"], version = "^4.8.0"}
typogrify = "^2.0.7"
bs4 = "^0.0.1"
python-gettext = "^4.0"
webassets = "^2.0"
cssmin = "^0.2.0"
ghp-import = "^1.0.0"
pelican-neighbors = "^1.1.0"
Markdown = "<3.2"
mdx_del_ins = {"git" = "https://github.com/Lee-W/mdx_del_ins"}
md_mermaid = {"git" = "https://github.com/Lee-W/md_mermaid"}
pelican-render-math = "^1.0.3"

[tool.poetry.dev-dependencies]
black = "^22.8.0"
pylint = "^2.15.2"
flake8 = "^3.8.3"
mypy = "^0.971"
pre-commit-hooks = "^3.2.0"
invoke = "^1.4.1"

[tool.commitizen]
name = "cz_customize"

[tool.commitizen.customize]
message_template = "{{change_type}}: {{message}}"
example = "post: this is my first post"
schema = "<type>: <body>"
bump_pattern = "^(break|new|fix|hotfix)"
bump_map = {"break" = "MAJOR", "new" = "MINOR", "fix" = "PATCH", "hotfix" = "PATCH"}
info = "This is commit convention for my blog post"

[[tool.commitizen.customize.questions]]
type = "list"
name = "change_type"
choices = ["new post", "post update", "new draft", "draft update", "post metadata", "typo", "config", "theme", "dependency", "static page"]
message = "What type of commit is it?"

[[tool.commitizen.customize.questions]]
type = "input"
name = "message"
message = "Message body: \n"
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
