.article-navigation {
    padding: 5px;
}

.article-prev {
    font-size: 16px;
    float: left;
    color: #828282;
    border-bottom: 1px dotted #000;
}

.article-next {
    font-size: 16px;
    float: right;
    color: #828282;
    border-bottom: 1px dotted #000;
}

ul.share-buttons{
  list-style: none;
  padding-top: 15px;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}

th, td {
    border-bottom: 100px solid #ddd;
}
